# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

# DynamoDB Local (dejar vacío en producción)
DYNAMODB_ENDPOINT=http://localhost:8000

# Tablas DynamoDB
TABLE_VOLATILIDAD=bif-fx-volatilidad
TABLE_HORARIO_MERCADO=bif-fx-horario-mercado
TABLE_FERIADO=bif-fx-feriado
TABLE_RANGO_IMPORTE=bif-fx-rango-importe
TABLE_SEGMENTO=bif-fx-segmento
TABLE_SPREAD_LIQUIDEZ=bif-fx-spread-liquidez
TABLE_SPREAD_CLIENTE=bif-fx-spread-cliente
TABLE_TIPO_CAMBIO=bif-fx-tipo-cambio
TABLE_PARAMETRO_SISTEMA=bif-fx-parametro-sistema
TABLE_USUARIO=bif-fx-usuario
TABLE_PERFIL=bif-fx-perfil
